*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    main{
        width: 100%;
    }
}