.seventhSec{
    width: 100%;
    height: 591px;
    background: $background-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{ 
        width: 100%;
        font-size: 36px;
        color: $color-3;
        text-align: center;
        margin-top: 57px;
        margin-bottom: 32px;
    }
    img{
        width: 64px;
        height: 2px;
    }
    .image-divider{
        width: 100%;
        display: flex;
        justify-content: center;
    }
 
    .swiper{
        margin-bottom: 42px;
        width: 1057px;
        height: 600px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background: transparent;
            border: 1px solid $background-10;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background: $background-10;
        }


        .swiper-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 86px;

        .swiper-slide{
            height: 236px;
            background: $background-5;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            border-radius: 5px;

            .text{
                margin-right: 40px;
                padding:  17px 0;
                padding-left: 4px;
                padding-right: 2px;
                width: 273px;
                background: $background-8;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                p{
                    width: 230px;
                    font-size: 16px;
                    line-height: 22px;
                    color: $color-1;
                }
                &:before{
                    position: absolute;
                    content: "";
                    top: 96%;
                    left: 7%;
                    border: 15px solid transparent;
                    border-top-color: $background-8;
                }

            }
            .user{
                width: 100%;
                height: 70px;
                display: flex;
                flex-direction: row;
                margin-left: 2px;
                .avatar{
                    margin-top: 18px;
                    width: 70px;
                    height: 70px;
                    background: $background-cover-3;
                    background-size: cover;
                    border-radius: 100%;
                }
                .user-info{
                    margin-top: 2px;
                    margin-left: 5px;
                    width: 100px;
                    height: 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    h3{
                        margin-left: 25px;
                        width: 100%;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 24px;
                        color: $color-2;
                        padding-bottom: 4px;
                    }
                    p{  
                        width: 74px;
                        font-size: 14px;
                        line-height: 16.8px;
                        color: $color-5;
                    }
                }
            }
        }
        }
        
}
}
@media (max-width:1070px){
    .seventhSec{
        .swiper{
            width: 800px;
        }
    }
}
@media (max-width:650px){
    .seventhSec{
        .swiper{
            width: 400px;
        }
    }
}
    
