
$background-1: #1C1C1C;
$background-2: #1c1c1c;
$background-3: #F5F5F5;
$background-4: #41D395;
$background-5: #FFFFFF;
$background-6: rgba(101, 149, 226, 0.42);
$background-7: rgba(226, 120, 101, 0.42);
$background-8: #6696E2;
$background-9: #333333;
$background-10: #E27866;
$background-11: #A37169;



$button-cl: #FFFFFF;

$svg-cl: #E27866;

$background-cover-1: url("../images/city.png");
$background-cover-2: url("../images/christoffer-engstrom-503481-unsplash@2x.png");
$background-cover-3: url("../images/avatar_2_u231.png");
$background-cover-4: url("../images/photo-1493409137604-0901c55e4456@2x.png");
$background-cover-5: url("../images/photo-1543364195-bfe6e4932397@2x.png");
$background-cover-6: url("../images/photo-1448387473223-5c37445527e7@2x.png");




$color-1: #FFFFFF;
$color-2: #333333;
$color-3: #1C1C1C;
$color-4: #D8D8D8;
$color-5: #86878B;
$color-6: #212121;
$color-7: #E27866;

